/* This is here purely for development, comment it out for release */
* {
	outline: 1px solid red;
	margin: 0px;
}

body {
	display: flex;
	flex-direction: column;
}

#header, #content {
	padding: 20px;
}

#header {
	
}

#content {
	background-color: aliceblue;
}


